{% extends "www/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<h2>
        {% trans 'Member applications' %}
</h2>

{% bootstrap_messages %}

<table class="table">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Message</th>
        <th>Agreement</th>
        <th>Services</th>
        <th></th>
    </tr>
{% for application in applications %}
<tr>
<td><a href="{% url 'userdetails' application.user.id %}">{{ application.user.first_name }} {{ application.user.last_name }}</a></td>
<td>{{ application.user.email }}</td>
<td>{{ application.message }}</td>
<td>{{ application.agreement }}</td>
<td>
    {% for subscription in application.servicesubscriptions %}
    <li>{{ subscription.service.name }}</li>
    {% endfor %}
</td>
<td>
    <a class="btn btn-primary" href="{% url 'application_operation' application.id 'accept' %}">Accept</a>
    <a class="btn btn-danger" href="{% url 'application_operation' application.id 'reject' %}">Reject</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
