{% load i18n %}
{% load bootstrap4 %}
{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="shortcut icon" type="image/png" href="{% static 'www/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'www/mulysa.css' %}" />
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">{{ SITENAME }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'userdetails' user.id %}">{% trans 'Show my user information' %}</a></li>
              {% if user.membershipapplication_set.count == 0%}
              <li class="nav-item"><a class="nav-link" href="{% url 'usersettings' user.id %}">{% trans 'Change my settings' %}</a></li>
              {% endif %}
              {% if user.is_staff %}
              <li class="nav-item"><a class="nav-link" href="{% url 'users' %}">{% trans 'Users' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'applications' %}">{% trans 'Member applications' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'dataimport' %}">{% trans 'Import' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'dataexport' %}">{% trans 'Export' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'ledger' %}">{% trans 'Bank Ledger' %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'custominvoices' %}">{% trans 'Custom invoices' %}</a></li>
              {% endif %}
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">{% trans 'Apply membership' %}</a></li>
            {% endif %}
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">{% trans 'log out' %} ({{ user.first_name }})</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">{% trans 'Log in' %}</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <form id="langform" class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">{% trans 'Language' %}</span>
                </div>
                <select class="custom-select" name="language" id="language-select">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }}
                  </option>
                {% endfor %}
                </select>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid">
    {% block content %}{% endblock content %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <a target="_blank" rel="noopener noreferrer" href="{{ PRIVACY_POLICY_URL }}">{% trans 'Privacy policy' %}</a>
          {% trans 'Report bugs at' %}: <a target="_blank" rel="noopener noreferrer" href="{{ GITHUB_URL }}">{% trans 'GitHub' %}</a>
          | <a href="{% url 'changelog-view' %}">{% trans 'View changelog' %}</a>
        </span>
      </div>
    </footer>

    <script src="{% static 'www/mulysa.js' %}"></script>
  </body>
</html>
