{% load i18n %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mulysa</title>
    <style type="text/css">
      div.header {
        display: flex;
        justify-content: space-between;
      }
      div.nav {
        text-align: center;
      }
      div.nav ul li {
          display: inline-block;
      }
      div.nav ul li + li:before {
          content: " | ";
      }
      div.footer {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1>{% trans 'Tampere Hacklab member services' %}</h1>
      <div class="userbox">
        {% include 'www/usertools.html' %}
      </div>

    </div>
    <div class="nav">
      <ul>
        <li><a href="{% url 'index' %}">{% trans 'Front page' %}</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'userdetails' user.id %}">{% trans 'Show my user information' %}</a></li>

            {% if user.is_staff %}
            <li><a href="{% url 'users' %}">{% trans 'Users' %}</a></li>
            <li><a href="{% url 'applications' %}">{% trans 'Member applications' %}</a></li>
            <li><a href="{% url 'dataimport' %}">{% trans 'Import' %}</a></li>
            <li><a href="{% url 'ledger' %}">{% trans 'Bank Ledger' %}</a></li>
            {% endif %}

        {% else %}

            <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
            <li><a href="{% url 'password_reset' %}">{% trans 'Reset password' %}</a></li>

        {% endif %}
      </ul>

    </div>

    {% block content %}{% endblock content %}

    <div class="footer">
      <p>
        {% blocktrans %} Web design by cos - help wanted! Make a pr at
        <a href="{{ GITHUB_URL }}">GitHub</a>
        {% endblocktrans %}
      </p>
    </div>
  </body>
</html>
