{% extends "www/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>{% trans 'Create user' %}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      {% bootstrap_messages %}
      <form action="/www/users/create" method="post">
        {% csrf_token %}
        {{ userform.media }}

        {% bootstrap_form_errors userform %}

        {% bootstrap_form userform %}

        {% buttons %}
        <input
          type="submit"
          class="btn btn-primary"
          value="{% trans 'Create' %}"
        />
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
