{% extends "www/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
  <h1>{% trans 'Statistics' %}</h1>

  <h2>{% trans 'Transactions' %}</h2>
  <div id="transactionsGraphContainer">
    <canvas id="transactionsGraph"></canvas>
  </div>
</div>

<script src="{% static 'www/chartjs/chart.js' %}"></script>
<script src="{% static 'www/chartjs/chartjs-adapter-date-fns.bundle.min.js' %}"></script>
<script src="{% static 'www/graphs.js' %}"></script>
{% endblock %}
