{% extends "www/base.html" %}
{% block content %}
<h1>
Import member csv
</h1>
<form action="/www/dataimport" method="post" enctype=multipart/form-data>
    {% csrf_token %}
    {{ form }}
    <br/>
    <input type="submit" value="Import">
</form>
{% if report %}
<h2>Import results:</h2>
<ul>
<li> Imported: {{ report.imported }} </li>
<li> Already exists: {{ report.exists }} </li>
<li> Errored: {{ report.error }} </li>
</ul>
<h3>Failed rows:</h3>
<pre>
{% for row in report.failedrows %}
{{ row }}
{% endfor %}    
</pre>

{% endif %}
{% endblock %}
