{% extends "www/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'Welcome! Choose what to do next' %}</h2>
<ul>
  {% if user.is_authenticated %}
    <li><a href="{% url 'userdetails' user.id %}">{% trans 'Show my user information' %}</a></li>
    <li><a href="{% url 'custominvoice' %}">{% trans 'Create and view custom invoices' %}</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">{% trans 'Login to Mulysa' %}</a></li>
    <li><a href="{% url 'register' %}">{% trans 'Apply membership in hacklab' %}</a></li>
  {% endif %}
</ul>
{% endblock %}
