{% extends "www/base.html" %}
{% block content %}
<h1>
Join Tampere Hacklab
</h1>
<form action="/www/register" method="post">
    {% csrf_token %}
    <table border="0">
        {{ userform.as_table }}
        {{ applicationform.as_table }}
    </table>
    <h2>Services</h2>
    {% for service in memberservices %}
    <input type="checkbox" name="service-{{service.id}}" value="True"> {{ service.name }} {{ service.cost_string }} / {{ service.period_string }}<br/>
    {% endfor %}
    <input type="submit" value="Register">
</form>
{% endblock %}
