{% extends "www/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>{% blocktrans %}Apply membership to {{ SITENAME }}{% endblocktrans %}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      {% bootstrap_messages %}
      <form action="/www/register" method="post">
        {% csrf_token %}
        {{ userform.media }}

        {% bootstrap_form_errors userform %}
        {% bootstrap_form_errors applicationform %}
        {% bootstrap_form_errors servicesform %}

        {% bootstrap_form userform %}
        {% bootstrap_form applicationform %}

        <p>
          {% blocktrans %}Terms for membership: I have read and agree to
          <a href="{{ MEMBERS_GUIDE_URL }}" target="_blank">members guide</a>
          and
          <a href="{{ ASSOCIATION_RULES_URL }}" target="_blank"
            >association rules</a
          >.{% endblocktrans %}
        </p>

        <p>
          {% blocktrans %}I promise to clean up any mess I have made at the lab (+little more)
          and take responsibility for safety of myself, others and the premises. I will use
          only power tools and machines I have got training and permission for.
          {% endblocktrans %}
        </p>

        {% bootstrap_form servicesform %}

        {% buttons %}
        <input
          type="submit"
          class="btn btn-primary"
          value="{% trans 'Register' %}"
        />
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
