{% extends "www/base.html" %}
{% load i18n %}
{% block content %}
<h1>
    {% blocktrans %}User data for {{ userdetails.first_name }} {{ userdetails.last_name }}{% endblocktrans %}
</h1>
{% if user.is_staff %}
<p>
<a href="{% url 'updateuser' userdetails.id %}">Update user's data</a>
</p>
{% endif %}
<table width=90% border="1">
<tr>
    <td>{% trans 'Name' %}</td> <td>{{ userdetails.first_name }} {{ userdetails.last_name }}</td>
</tr>
<tr>
    <td>{% trans 'Email' %}</td> <td>{{ userdetails.email }}</td>
</tr>
<tr>
    <td>{% trans 'Phone' %}</td> <td>{{ userdetails.phone }}</td>
</tr>
<tr>
    <td>{% trans 'Reference number' %}</td> <td>{{ userdetails.reference_number }}</td>
</tr>
</table>
<h2>{% trans 'Service subscriptions' %}</h2>
<ul>
    {% for subscription in userdetails.servicesubscriptions %}
    <li>{{ subscription.service.name }} -  <span style="background-color: {{ subscription.statecolor }}">{{ subscription.state }}</span> - {% blocktrans %}Paid until {{ subscription.paid_until }}{% endblocktrans %} - {% blocktrans %}last payment {{ subscription.last_payment }}{% endblocktrans %}</li>
    {% endfor %}
</ul>

<h2>{% trans 'Activity log' %}</h2>

<ul>
{% for entry in userdetails.userslog %}
<li>{{ entry.date }} - {{ entry.message }}</li>
{% endfor %}
</ul>

<h2>{% trans 'Bank transactions' %}</h2>

<ul>
{% for transaction in userdetails.transactions %}
<li>{{ transaction.date }} - {{ transaction.amount }}</li>
{% endfor %}
</ul>
{% endblock %}
