{% extends "www/base.html" %}
{% block content %}
<h1>
User data for {{ user.first_name }} {{ user.last_name }}
</h1>
<p>
<a href="{% url 'updateuser' user.id %}">Update user's data</a>
</p>
<table width=90% border="1">
<tr>
    <td>Name</td> <td>{{ user.first_name }} {{ user.last_name }}</td>
</tr>
<tr>
    <td>Email</td> <td>{{ user.email }}</td>
</tr>
<tr>
    <td>Reference number</td> <td>{{ user.reference_number }}</td>
</tr>
</table>
<h2>Service subscriptions</h2>
<ul>
    {% for subscription in user.servicesubscriptions %}
    <li>{{ subscription.service.name }} -  <span style="background-color: {{ subscription.statecolor }}">{{ subscription.state }}</span> - Paid until {{ subscription.paid_until }} - last payment {{ subscription.last_payment }}</li>
    {% endfor %}
</ul>

<h2>Activity log</h2>

<ul>
{% for entry in userslog %}
<li>{{ entry.date }} - {{ entry.message }}</li>
{% endfor %}
</ul>

<h2>Bank transactions</h2>

<ul>
{% for transaction in transactions %}
<li>{{ transaction.date }} - {{ transaction.amount }}</li>
{% endfor %}
</ul>
{% endblock %}
