{% extends "www/base.html" %}
{% load i18n %}
{% block content %}
<h2>
User list
</h2>
<table width="90%" border="1">
<tr>
<th>Name</th><th>Email</th><th>Phone</th><th>Reference</th>
{% for service in services %}
<th>{{ service.name }}</th>
{% endfor %}
<th>Management</th>
</tr>
{% for user in users %}
<tr>
<td>
        <a href="{% url 'userdetails' user.id %}">
        {{ user.first_name }} {{ user.last_name }}
        </a>
</td> 
<td><a href="{% url 'userdetails' user.id %}">{{ user.email }}</a></td>
<td>{{ user.phone }}</td>
<td>{{ user.reference_number }}</td>
{% for service in services %}
<td>
        {% for subscription in user.servicesubscriptions %}
                {% if service == subscription.service %}
                <span  style="background-color: {{ subscription.statecolor }}">{{ subscription.statestring }}</span>
                {% endif %}
        {% endfor %}
</td>
{% endfor %}
<td><a href="{% url 'admin:users_customuser_change' user.id %}">Modify</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
