{% extends "www/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <h1>
    {% trans 'User data for' %} {{ userdetails.first_name }} {{ userdetails.last_name }}
  </h1>

  <table class="table">
    <tr>
      <td>{% trans 'Name' %}</td>
      <td>{{ userdetails.first_name }} {{ userdetails.last_name }}</td>
    </tr>
    <tr>
      <td>{% trans 'Email' %}</td>
      <td>{{ userdetails.email }}</td>
    </tr>
    <tr>
      <td>{% trans 'Phone' %}</td>
      <td>{{ userdetails.phone }}</td>
    </tr>
  </table>

  {% if userdetails.membership_application %}
    <b>
    {% trans 'Your membership application is being processed. You will receive e-mail when the process is finished. This may take up to two weeks.' %}
    </b>
  {% else %}
    <h2>{% trans 'Service subscriptions' %}</h2>

    {% for subscription in userdetails.servicesubscriptions %}
    <table class="table">
      <tr>
        <td colspan="2"><h3>{{ subscription.service.name }}</h3></td>
      </tr>
      <tr>
        <td>{% trans 'State' %}</td>
        <td>
          <span class="ss_state_{{subscription.state}}">{{ subscription.statestring }}</span>
        </td>
      </tr>
      <tr>
        <td>{% trans 'Paid until' %}</td>
        <td>{{subscription.paid_until|default_if_none:"-"}} ({{ subscription.days_left }} {% trans 'days left' %})</td>
      </tr>
      <tr>
        <td>{% trans 'Reference number' %}</td>
        <td>{{subscription.reference_number|default_if_none:"-"}}</td>
      </tr>
      <tr>
        <td>{% trans 'Last payment' %}</td>
        <td>{{subscription.last_payment|default_if_none:"-"}}</td>
      </tr>
      {% if subscription.service.access_phone_number %}
      <tr>
        <td>{% trans 'Door opening number' %}</td>
        <td>{{subscription.service.access_phone_number}}</td>
      </tr>
      {% endif %}

      <tr>
        <td colspan="2">
          {% if subscription.state == "SUSPENDED" %}
            {% trans 'This service has been suspended. Please contact management if you want to re-apply for it.'%}
          {% else %}
            {% if subscription.paid_by_subscriptions %}
              {% trans 'This is paid by other member services - you do not need to pay for it.' %}
              <ul>
              {% for paying_sub in subscription.paid_by_subscriptions %}
                <li>{{ paying_sub }}</li>
              {% endfor %}
            </ul>
            {% else %}
              {% blocktrans with ref=subscription.reference_number cost=subscription.service.cost_string %}This service can be paid with reference number {{ ref }}
                to bank account {{bank_iban}}. Service price is {{ cost }}.{% endblocktrans %}<br/>
              {% blocktrans %}To pay this service multiple times using a single transaction (e.g. paying multiple months of service in one payment), you can create a custom invoice.{% endblocktrans %}
              <a href="{% url 'custominvoice' %}">{% trans 'Create and view custom invoices' %}</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    </table>
    {% endfor %}
    <h2>{% trans 'Custom invoices' %}</h2>
    <table class="table table-responsive-sm">
      <tr>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Service' %}</th>
        <th>{% trans 'Amount' %}</th>
        <th>{% trans 'Reference number' %}</th>
        <th>{% trans 'Paid' %}</th>
      </tr>
      {% for custominvoice in userdetails.custominvoices %}
      <tr>
        <td>{{ custominvoice.created }}</td>
        <td>{{ custominvoice.days }} {% trans 'days of' %} {{ custominvoice.subscription.service.name }}</td>
        <td>{{ custominvoice.amount }}</td>
        <td>{{ custominvoice.reference_number }}</td>
        <td>
          {% if custominvoice.payment_transaction %}
            <a href="{% url 'banktransaction-view' custominvoice.payment_transaction.id %}">{{ custominvoice.payment_transaction.date }}</a>
          {% else %}
            {% trans 'Not paid yet' %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <p>
      <a href="{% url 'custominvoice' %}">{% trans 'Create and view custom invoices' %}</a>
    </p>
    <h2>{% trans 'Activity log' %}</h2>
    <table class="table table-sm table-responsive-sm">
      <tr>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Message' %}</th>
      </tr>
      {% for entry in userdetails.userslog %}
      <tr>
        <td>{{ entry.date }}</td>
        <td>{{ entry.message }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>{% trans 'Bank transactions' %}</h2>
    <p>{% trans 'Transactions are not processed in real time. Newest bank transactions uploaded to the system' %}: {{ last_transaction }}</p>

    <table class="table table-sm table-responsive-sm">
      <tr>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Amount' %}</th>
        <th>{% trans 'Reference number' %}</th>
        <th>{% trans 'Sender' %}</th>
        <th>{% trans 'Message' %}</th>
        <th>{% trans 'Comment' %}</th>
      </tr>
      {% for transaction in userdetails.transactions %}
      <tr>
        <td><a href="{% url 'banktransaction-view' transaction.id %}">{{ transaction.date }}</a></td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.reference_number }}</td>
        <td>{{ transaction.sender|default_if_none:"" }}</td>
        <td>{{ transaction.message }}</td>
        <td>{{ transaction.comment|default_if_none:"" }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
