# local settings
drfx/settings_local.py

# migrations for now
*/migrations/00*.py

# editors
.vscode

# python caches
*.py[cod]
*.sqlite

# unit tests / reports
.tox
.coverage

# databases etc dev data
*.sqlite3
