[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"
pylint = "*"
ipython = "*"
autopep8 = "*"
coverage = "*"
tox = "*"
isort = "*"
rope = "*"
coveralls = "*"
black = "*"
werkzeug = "*"

[packages]
# django = "==4.2.*"
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-extensions = "*"
coreapi = "*"
django-log-request-id = "*"
django-filter = "*"
djangorestframework-filters = "==1.0.0.dev2"
mysqlclient = "*"
drf-api-tracking = "*"
phonenumbers = "*"
gunicorn = "*"
django-bootstrap4 = "*"
django-autoslug = "*"
django-mailer = "*"
openpyxl = "*"
markdown = "*"
django-admin-rangefilter = "*"
django-oauth-toolkit = ">=1.5.0"
dateparser = "*"
nordigen = "*"
django-constance = {extras = ["database"], version = "*"}
typing-extensions = "*"
# hackhackhack
#drf-yasg = "== 1.21.4"
#jinja2 = "==3.1.4"
#markupsafe = "==2.1.5"

[requires]
# Debian stable
# python_version = "3.9"
# Ubuntu 24.04
python_version = "3.12.3"

[pipenv]
#
# prereleases are allowed because of django-rest-framework-filters
# this should be removed as soon as:
# 1.0.0 is released https://github.com/philipn/django-rest-framework-filters
# or pipenv starts supporting prereleases for one package (https://github.com/pypa/pipenv/pull/4607)
#
allow_prereleases = true

