[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"
pylint = "*"
ipython = "*"
autopep8 = "*"
coverage = "*"
tox = "*"
isort = "*"
rope = "*"
python-coveralls = "*"
black = "*"
werkzeug = "*"

[packages]
django = "==3.1.*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
django-extensions = "*"
coreapi = "*"
django-log-request-id = "*"
django-filter = "*"
djangorestframework-filters = "*"
twilio = "*"
django-user-language-middleware = "*"
mysqlclient = "*"
drf-api-tracking = "*"
phonenumbers = "*"
gunicorn = "*"
django-bootstrap4 = "*"
django-autoslug = "*"
django-mailer = "*"
xlrd = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
