html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > main {
  padding-top: 80px;
  padding-bottom: 30px;
}

.ss_state_ACTIVE {
  background-color: green;
}
.ss_state_SUSPENDED {
  background-color: red;
}
.ss_state_OVERDUE {
  background-color: yellow;
}

@media print {
  footer { display: none; }
}