{% extends 'mail/email_base.html' %}

{% load i18n %}

{% block content %}
<h1>
  Thank you for applying for membership to {{ settings.SITENAME }} {{ user.first_name }}!
</h1>
<p>
  We will check your application and get back to you after your application has
  been processed.
</p>

<p>
  In the meantime the Best way to get started is to join our community meeting
  first Tuesday of the month or weekly open house every Tuesday. It is also
  highly recommendable to join our communication channels (Matrix, Telegram or
  IRC and email list). Be happy to ask if you like to know more!
</p>

<p>
  If you want to speed things up you can already pay your monthly fee using the
  payment information below.
</p>

<h3>Your services</h3>
<ul>
  {% for servicesubscription in user.servicesubscription_set.all %}
    <li>{{ servicesubscription.service.name }} -
        {{ servicesubscription.service.cost_string }} /
        {{ servicesubscription.service.period_string }}
        <strong>{% trans 'Bank reference number' %}: {{  servicesubscription.reference_number }}</strong>
  {% endfor %}
</ul>

<h3>Bank account information is</h3>

<p>
  <b>{% trans 'Account holder' %}</b>: {{ settings.ACCOUNT_NAME }}<br />
  {% trans 'IBAN' %}: {{ settings.ACCOUNT_IBAN }}<br />
  {% trans 'BIC' %}: {{ settings.ACCOUNT_BIC }}<br />
</p>

<p>Best regards {{ settings.SITENAME }} hackers!</p>
{% endblock %}
