{% extends 'mail/email_base.html' %}

{% load i18n %}

{% block content %}
<h1>Welcome {{ user.first_name }} to {{ settings.SITENAME }}</h1>
<p>
  Great to have you onboard! Your membership application has been
  approved and now is a great time to to join our community by
  coming to the next community meeting on the first Tuesday of the
  month or poping by weekly open house every Tuesday. It is also
  highly recommendable to join our communication channels (Matrix,
  Telegram or IRC and email list). Be happy to ask if you like to
  know more!
</p>
<p>All Hacklab services work by voluntary basis so
  things might not work always. Please be patient. For the
  challenges help would be appreciated, and we would be more than
  happy for your contribution.
</p>

<h3>Your services</h3>

<ul>
  {% for servicesubscription in user.servicesubscription_set.all %}
    <li>{{ servicesubscription.service.name }} -
        {{ servicesubscription.service.cost_string }} /
        {{ servicesubscription.service.period_string }}
        {% if servicesubscription.service.id == settings.DEFAULT_ACCOUNT_SERVICE %}
          <strong>{% trans 'Bank reference number' %}: {{ user.reference_number }}</strong>
        {% endif %}</li>
  {% endfor %}
</ul>

<h3>Bank account information is</h3>

<p>
  <b>{% trans 'Account holder' %}Account holder</b>: {{ settings.ACCOUNT_NAME }}<br />
  {% trans 'IBAN' %}: {{ settings.ACCOUNT_IBAN }}<br />
  {% trans 'BIC' %}: {{ settings.ACCOUNT_BIC }}<br />
</p>

<p>Best regards {{ settings.SITENAME }} hackers!</p>

{% endblock %}
