{% extends "www/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h2>{% trans 'Log in' %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Log in' %}
        </button>
        <a class="btn bnt-secondary" href="{% url 'password_reset' %}">{% trans 'Forget password?' %}</a>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
