{% extends 'www/base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if validlink %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h1>{{ title }}</h1>
      <p>
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Change my password' %}
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>

{% else %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="alert alert-warning" role="alert">
        <p>
          {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
      </div>
      <a class="btn btn-primary" href="{% url 'password_reset' %}">{% trans 'Get new reset link' %}</a>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
