{% extends 'www/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h2>{% trans 'Forgot your password?' %}</h2>
      <p>{% blocktrans %}Enter your email address below, and we'll email instructions for setting a new one.{% endblocktrans %}</p>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Send me instructions!' %}
        </button>
        <a class="btn bnt-secondary" href="{% url 'login' %}">{% trans 'Back to login' %}</a>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}