{% extends "admin/change_form.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">
  <form action="" method="POST">
    {% csrf_token %}

    <h1>{% trans 'Subject' %}: {{email.subject}}</h1>
    <h3>{% trans 'Body' %}:</h3>
    <pre>{% include 'mail_content_and_post.html' %}</pre>

    <div class="submit-row">
      <input type="submit" class="default" value="{% trans 'Send now' %}" />
      <a
        class="button large"
        href="{% url 'admin:emails_email_change' email.id %}"
        >{% trans 'Cancel' %}</a
      >
    </div>
  </form>
</div>
{% endblock %}
